.--layout-jumbo-section{
    padding:1rem 1rem;
    background-color:#EEEEEE;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
}

img#jumbo-anim{
    width:100%;
    grid-column:2/4;
    grid-row:1/3;
}

.--layout-jumbo-title{
    color:var(--sunglow);
    font-family:var(--concert-font);
    font-size:4.58vw;
    font-weight:700;
    text-shadow:0 0 3px var(--black);
    grid-column:1/3;
    grid-row:2/3;
    align-self:end;
    margin-bottom:.5rem;
}

.--layout-jumbo-text{
    font-size:3vw;
    grid-column:1/4;
    grid-row:3/4;
    padding-top:.5rem;
    text-shadow:0 0 3px var(--grey);
}