.--header-elem{
    position:fixed;
    width:100%;
    background-color:whitesmoke;
    z-index:3;
}

.--header-logo-container{
    width:calc(100vw - 4.5rem);
    height:4.5rem;
}

img#header-logo{
    width:4.5rem;
    margin-left:4.5rem;
}

.--header-list-icon{
    margin-left:auto;
    width:2rem;
    height:2rem;
    margin-right:var(--twentyPX);
}

.--header-nav-ul{
    margin:1rem 0 1rem auto;
    gap:.5rem;
}
