@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Inter:wght@400;700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    fill:currentColor;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*::before, *::after{
    box-sizing: border-box;
}

:root{
    font-size:16px;
    font-family:'Inter', sans-serif;
    --primary-font:'Inter', sans-serif;
    --concert-font:'Concert One', cursive;
    --ebony:#576748;
    --sunglow:#FACF59;
    --black:#161616;
    --white:#FFF;
    --grey:#c2c2c2;
    --twelvePX:.75rem;
    --twentyPX:1.25rem;
}

.black{color:var(--black)}
.white{color:var(--white)}
.grey{color:var(--grey)}

.center{text-align: center;}

.flex{display:flex;}
.flex-column{flex-direction: column;}
.flex-wrap{flex-wrap: wrap;}
.flex-align-center{align-items: center;}

.link{
    cursor: pointer;
}

.link.mobile{
    font-family:var(--primary-font);
    color:var(--black);
    text-decoration:none;
}

.link.mobile:hover{
    color:var(--ebony);
    font-size:700;
    text-decoration: underline;
}

.link.desktop{
    font-family:var(--primary-font);
    color:var(--white);
    font-weight: 700;
    text-decoration:none;
}

.link.desktop:hover{
    color:var(--black);
    font-size:700;
    text-decoration: underline;
}

footer{
    background-color:blue;
}


img:not(.social-icon){
    width:32px;
}