@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&family=Merriweather:wght@900&display=swap');

:root{
    --primary-font:'Merriweather Sans', sans-serif;
    --primary-900:'Merriweather', serif;
    --ebony:#576748;
    --sunglow:#FACF59;
    --verdigris:#3EA8A7;
    --lapis-lazuli:#3D5F98;
    --true-blue:#416AA4;
    --red:#FF0000;
    --slate:#46494C;
    --main-bg-color:#FFF;
    --black:#161616;
    --white:#FFFDFA;
    --grey:#4D4D4D;
    --fivePX:.3125rem;
    --fourteenPX:.875rem;
    --sixteenPX:1rem;
    --eighteenPX:1.125rem;
    --twentyPX:1.25rem;
    --twentyfourPX:1.5rem;
    --twentysixPX:1.625rem;
    --thirtytwoPX:2rem;
    --thirtysixPX:2.25rem;
    --fourtyeightPX:3rem;
    --seventytwoPX:4.5rem;
    font-size:16px;
    font-family: var(--primary-font);
    color:var(--black);
}

*, *::before, *::after{
    box-sizing: border-box;
}

html, body{
  margin:0;
  padding:0;
  background-color: whitesmoke;
}

/*Font-size*/
.XIVpt{font-size:var(--fourteenPX)}
.XVIpt{font-size:var(--sixteenPX)}
.XVIIIpt{font-size:var(--eighteenPX)}
.XXpt{font-size:var(--twentyPX)}    
.XXIVpt{font-size:var(--twentyfourPX)}
.XXVIpt{font-size:var(--twentysixPX)}
.XXXIIpt{font-size:var(--thirtytwoPX)}
.XXXVIpt{font-size:var(--thirtysixPX)} 
.XLVIIIpt{font-size:var(--fourtyeightPX)}

/*Font-Weight*/
.regular{font-weight:400}
.medium{font-weight:500}
.semi-bold{font-weight: 600}
.bold{font-weight:700}
.extra-bold{font-weight:800}
.black-bold{font-weight:900}

/*Color*/
.black{color:var(--black)}
.white{color:var(--white)}
.grey{color:var(--grey)}
.red{color:var(--red)}

.limit-width{
    max-width:56.25rem;
    margin:0 auto;
}
.block{display:block;}
.underline{text-decoration: underline}
.no-underline{text-decoration: none}
.center{text-align: center}
.push-right{margin-left:auto}
.push-left{margin-right:auto}

/*Quick Flex Props*/
.flex{display:flex;}
.flex-wrap{flex-wrap:wrap}
.flex-center{justify-content: center}
.flex-align-center{align-items: center}
.flex-column{flex-direction: column}

.nav-link, 
.link{
    text-decoration:none;
    margin-right:var(--fourteenPX);
    color:var(--black);
}

.link.desktop{
    font-weight:700;
    text-shadow:0 2px 3px var(--white);
}

a.nav-link:hover:not(.active):not(.--login-new){
    color:var(--sunglow);
    text-shadow: 0 2px 3px var(--black);
}

a.link.mobile:hover{
    color:var(--ebony);
    /* text-shadow:0 2px 3px var(--true-blue); */
    text-decoration: underline;
}

a.link.desktop:hover{
    color:var(--white);
    font-weight:700;
    text-shadow:0 2px 3px var(--black);
    text-decoration: underline;
}

.btn{
    display:block;
    padding:var(--sixteenPX);
    border-radius:.3125rem;
    text-decoration: none;
    font-family:var(--primary-900);
    color:var(--white);
    box-shadow:1px 2px 10px var(--white);
}

.btn:hover{
    background-color:var(--carribbean-green);
}

.block-input{
    width:100%;
}

input{
    border-radius:unset;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}